<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741527391541-l64arqb9qb1k50kvnhkr1p7n7ses1j2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741527391541-l64arqb9qb1k50kvnhkr1p7n7ses1j2k</string>
	<key>API_KEY</key>
	<string>AIzaSyC_ljaH6CxppjjDC8gVq9fIM-10DPpGieo</string>
	<key>GCM_SENDER_ID</key>
	<string>741527391541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.asklora.app.dev</string>
	<key>PROJECT_ID</key>
	<string>asklora-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>asklora-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741527391541:ios:3361cf2fb08bbdfc2c507c</string>
</dict>
</plist>